.top-bar {
	overflow: hidden;
	font-size: .8em;

	span {
	line-height: 3.25;
	margin-left: 1em;
	float: left
	}
	nav {
		float: left;

	}
	a {
		text-decoration: none;
		margin: 0 4.6em 0 0;
	}
	.gray {
		color: #8f8f8f;
	}
	.dark-gray {
		font-weight: bold;
		color: #5C5C5C;
	}
	li {
		display: inline;
	}
}
.tree-pic {
	overflow: hidden;
    text-align: center;
    padding: 2.3em 0 2.3em 0;
    font-size: 2.2em;
    font-weight: 100;
    color: white;
    background: url(https://images.unsplash.com/2/05.jpg?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1325) top left no-repeat;
    background-size: auto;
	p {
		line-height: 0.5;
		text-shadow: 1px 1px 2px black;
	}
}
.mid1 {
	text-align: center;
	margin-bottom: 8em;
	a {
		color: #393939;
		text-decoration: none;
	}
	> div {
		font-size: 1.5em;

	}
	.personal > div:first-child {
		margin: 2em 3% 0 3%;
		padding: 2em 0;
		background-color: green;
		color: rgba(255, 255, 255, .5);
		p:first-child {
			margin-top: 0em;
			margin-bottom: 0;
			font-size: .8em;
			letter-spacing: .2em;
		}
		p:last-child {
			font-size: 4em;
			margin: 0
		}
		p{
		color: white;
		}
	}
	
	.features {
		background-color: #f7f7f7;
		margin: auto 3%;
		color: #5C5C5C;
		p {
			font-size: .8em;
			line-height: 3em;
			margin: auto 0em;
			border-top: 1px solid #999999;
			border-right: 1px solid #999999;
			border-left: 1px solid #999999;
		}	
	}
	.choose {
		border: 1px solid #999999;
		margin: auto 3%;
		color: #393939;
		font-weight: bold;
		p {
			border: 1px solid black;
			-webkit-border-top-right-radius: 50px 30px; 
			-webkit-border-bottom-right-radius: 50px 30px;
			-webkit-border-top-left-radius: 50px 30px; 
			-webkit-border-bottom-left-radius: 50px 30px;
    		margin: .8em auto;
    		width: 6em;
    		font-size: .8em;
    		line-height: 1.5em;
    		padding: .3em;
		}
	}
	.sm-bus > div:first-child {
		margin: 2em 3% 0 3%;
		padding: 2em 0;
		background-color: #2C4985;
		color: rgba(255, 255, 255, .5);
		p:first-child {
			margin-top: 0em;
			margin-bottom: 0;
			font-size: .8em;
			letter-spacing: .2em;
		}
		p:last-child {
			font-size: 4em;
			margin: 0;
		}
		p{
		color: white;
		}
	}
	
	.features {
		background-color: #f7f7f7;
		margin: auto 3%;
		color: #5C5C5C;
		p {
			font-size: .8em;
			line-height: 3em;
			margin: auto 0em;
			border-top: 1px solid #999999;
			border-right: 1px solid #999999;
			border-left: 1px solid #999999;
		}	
	}
	.choose {
		border: 1px solid #999999;
		margin: auto 3%;
		color: #393939;
		font-weight: bold;
		p {
			border: 1px solid black;
			-webkit-border-top-right-radius: 50px 30px; 
			-webkit-border-bottom-right-radius: 50px 30px;
			-webkit-border-top-left-radius: 50px 30px; 
			-webkit-border-bottom-left-radius: 50px 30px;
    		margin: .8em auto;
    		width: 6em;
    		font-size: .8em;
    		line-height: 1.5em;
    		padding: .3em;
		}
	}
	.enterprise > div:first-child {
		margin: 2em 3% 0 3%;
		padding: 2em 0;
		background-color: black;
		color: rgba(255, 255, 255, .5);
		p:first-child {
			margin-top: 0em;
			margin-bottom: 0;
			font-size: .8em;
			letter-spacing: .2em;
		}
		p:last-child {
			font-size: 4em;
			margin: 0;
		}
		p{
		color: white;
		}
	}
	
	.features {
		background-color: #f7f7f7;
		margin: auto 3%;
		color: #5C5C5C;
		p {
			font-size: .8em;
			line-height: 3em;
			margin: auto 0em;
			border-top: 1px solid #999999;
			border-right: 1px solid #999999;
			border-left: 1px solid #999999;
		}	
	}
	.choose {
		border: 1px solid #999999;
		margin: auto 3%;
		font-weight: bold;
		p {
			border: 1px solid black;
			-webkit-border-top-right-radius: 50px 30px; 
			-webkit-border-bottom-right-radius: 50px 30px;
			-webkit-border-top-left-radius: 50px 30px; 
			-webkit-border-bottom-left-radius: 50px 30px;
    		margin: .8em auto;
    		width: 6em;
    		font-size: .8em;
    		line-height: 1.5em;
    		padding: .3em;
		}
	}
}
.mid2 {
	margin: 3em 16% 1em 7%;
	h3{
		letter-spacing: .3em;
		font-weight: 500;
		padding-bottom: 1em;
	}
	h3 p{
		letter-spacing: 0em;
		font-weight: 100;
	}
}
footer {
	margin-top: 2em;
	padding: 2em 1em;
	background-color: black;
	color: rgba(255, 255, 255, .5);
	text-align: center;
	font-weight: 200;
	a {
		color: white;
	}

}
@media (min-width: 479px)	{
	.tree-pic{
		font-size: 3em;
		padding: 2.5em 0 2.5em 0;
	}
}	

@media (min-width: 767px)	{

}





/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
