.top-bar {
  overflow: hidden;
  font-size: .8em; }
  .top-bar span {
    line-height: 3.25;
    margin-left: 1em;
    float: left; }
  .top-bar nav {
    float: left; }
  .top-bar a {
    text-decoration: none;
    margin: 0 4.6em 0 0; }
  .top-bar .gray {
    color: #8f8f8f; }
  .top-bar .dark-gray {
    font-weight: bold;
    color: #5C5C5C; }
  .top-bar li {
    display: inline; }

.tree-pic {
  overflow: hidden;
  text-align: center;
  padding: 2.3em 0 2.3em 0;
  font-size: 2.2em;
  font-weight: 100;
  color: white;
  background: url(https://images.unsplash.com/2/05.jpg?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1325) top left no-repeat;
  background-size: auto; }
  .tree-pic p {
    line-height: 0.5;
    text-shadow: 1px 1px 2px black; }

.mid1 {
  text-align: center;
  margin-bottom: 8em; }
  .mid1 a {
    color: #393939;
    text-decoration: none; }
  .mid1 > div {
    font-size: 1.5em; }
  .mid1 .personal > div:first-child {
    margin: 2em 3% 0 3%;
    padding: 2em 0;
    background-color: green;
    color: rgba(255, 255, 255, 0.5); }
    .mid1 .personal > div:first-child p:first-child {
      margin-top: 0em;
      margin-bottom: 0;
      font-size: .8em;
      letter-spacing: .2em; }
    .mid1 .personal > div:first-child p:last-child {
      font-size: 4em;
      margin: 0; }
    .mid1 .personal > div:first-child p {
      color: white; }
  .mid1 .features {
    background-color: #f7f7f7;
    margin: auto 3%;
    color: #5C5C5C; }
    .mid1 .features p {
      font-size: .8em;
      line-height: 3em;
      margin: auto 0em;
      border-top: 1px solid #999999;
      border-right: 1px solid #999999;
      border-left: 1px solid #999999; }
  .mid1 .choose {
    border: 1px solid #999999;
    margin: auto 3%;
    color: #393939;
    font-weight: bold; }
    .mid1 .choose p {
      border: 1px solid black;
      -webkit-border-top-right-radius: 50px 30px;
      -webkit-border-bottom-right-radius: 50px 30px;
      -webkit-border-top-left-radius: 50px 30px;
      -webkit-border-bottom-left-radius: 50px 30px;
      margin: .8em auto;
      width: 6em;
      font-size: .8em;
      line-height: 1.5em;
      padding: .3em; }
  .mid1 .sm-bus > div:first-child {
    margin: 2em 3% 0 3%;
    padding: 2em 0;
    background-color: #2C4985;
    color: rgba(255, 255, 255, 0.5); }
    .mid1 .sm-bus > div:first-child p:first-child {
      margin-top: 0em;
      margin-bottom: 0;
      font-size: .8em;
      letter-spacing: .2em; }
    .mid1 .sm-bus > div:first-child p:last-child {
      font-size: 4em;
      margin: 0; }
    .mid1 .sm-bus > div:first-child p {
      color: white; }
  .mid1 .features {
    background-color: #f7f7f7;
    margin: auto 3%;
    color: #5C5C5C; }
    .mid1 .features p {
      font-size: .8em;
      line-height: 3em;
      margin: auto 0em;
      border-top: 1px solid #999999;
      border-right: 1px solid #999999;
      border-left: 1px solid #999999; }
  .mid1 .choose {
    border: 1px solid #999999;
    margin: auto 3%;
    color: #393939;
    font-weight: bold; }
    .mid1 .choose p {
      border: 1px solid black;
      -webkit-border-top-right-radius: 50px 30px;
      -webkit-border-bottom-right-radius: 50px 30px;
      -webkit-border-top-left-radius: 50px 30px;
      -webkit-border-bottom-left-radius: 50px 30px;
      margin: .8em auto;
      width: 6em;
      font-size: .8em;
      line-height: 1.5em;
      padding: .3em; }
  .mid1 .enterprise > div:first-child {
    margin: 2em 3% 0 3%;
    padding: 2em 0;
    background-color: black;
    color: rgba(255, 255, 255, 0.5); }
    .mid1 .enterprise > div:first-child p:first-child {
      margin-top: 0em;
      margin-bottom: 0;
      font-size: .8em;
      letter-spacing: .2em; }
    .mid1 .enterprise > div:first-child p:last-child {
      font-size: 4em;
      margin: 0; }
    .mid1 .enterprise > div:first-child p {
      color: white; }
  .mid1 .features {
    background-color: #f7f7f7;
    margin: auto 3%;
    color: #5C5C5C; }
    .mid1 .features p {
      font-size: .8em;
      line-height: 3em;
      margin: auto 0em;
      border-top: 1px solid #999999;
      border-right: 1px solid #999999;
      border-left: 1px solid #999999; }
  .mid1 .choose {
    border: 1px solid #999999;
    margin: auto 3%;
    font-weight: bold; }
    .mid1 .choose p {
      border: 1px solid black;
      -webkit-border-top-right-radius: 50px 30px;
      -webkit-border-bottom-right-radius: 50px 30px;
      -webkit-border-top-left-radius: 50px 30px;
      -webkit-border-bottom-left-radius: 50px 30px;
      margin: .8em auto;
      width: 6em;
      font-size: .8em;
      line-height: 1.5em;
      padding: .3em; }

.mid2 {
  margin: 3em 16% 1em 7%; }
  .mid2 h3 {
    letter-spacing: .3em;
    font-weight: 500;
    padding-bottom: 1em; }
  .mid2 h3 p {
    letter-spacing: 0em;
    font-weight: 100; }

footer {
  margin-top: 2em;
  padding: 2em 1em;
  background-color: black;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-weight: 200; }
  footer a {
    color: white; }

@media (min-width: 479px) {
  .main .tree-pic {
    font-size: 214%; }
    .main .tree-pic p:first-child {
      margin-top: 2.7em;
      margin-bottom: 0em; }
    .main .tree-pic p:last-child {
      margin: 0em; } }
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
